body {
	margin:0;
	padding:0;
	color:#666;
	font-family:Tahoma,Geneva,sans-serif;
	font-size:13px;
	line-height:1.4em; 
	background-color:white;
	background-repeat:repeat-x;
	background-position:top;
	background-image:url(images/tooplate_body.jpg)}
a, a:link, a:visited { color:skyblue; font-weight: normal; text-decoration: none }
a:hover { text-decoration: underline; }

p {margin: 0 0 10px 0;padding: 0;}
img {border: none;}
                                                   /* Down Text of images*/
h1, h2, h3, h4, h5, h6 { color:skyblue; font-weight: normal; }
h1 { font-size: 48px; margin: 0 0 30px; padding: 5px 0 }
h2 { font-size: 30px; margin: 0 0 25px; padding: 5px 0 }
h3 { font-size: 24px; margin: 0 0 20px; padding: 0; }
h4 { font-size: 18px; margin: 0 0 15px; padding: 0; }
h5 { font-size: 16px; margin: 0 0 10px; padding: 0;  }
h6 { font-size: 12px; margin: 0 0 5px; padding: 0; }

.cleaner {clear: both}
.h30 {height:20px}                                 /* From Carousel */
.divider { margin-bottom: 40px; padding-bottom: 20px; border-bottom: 1px solid #ccc }
#abc321{
	width: 90%;
	margin: 0 auto;
	padding: 0 10px;}
#header123{
	height: 55px;
	width: 1200px;}
#bottom_wrapper{
	width: 100%;
	background:#393939;
    position: center;}
#bottom123 {
	clear: both;
	width: 1000px;
	margin: 0 auto;
	padding: 20px 0}
                                                               /* title-css*/
#site_title {float:left}
#site_title h1 {margin: 0; padding: 0 }
#site_title h1 a {display: block;color: red;text-shadow: 0px 0px 4px pink;font-size: 32px;text-align: right no-repeat left center }

#menu321 { float: right; width: 562px; height: 46px no-repeat }
#nav{ float: right; width: auto; height: 46px no-repeat }
#nav ul li{
	margin: 0 2%;
	float: right;}
.newscol h2 { font-size: 14px; color:skyblue; font-weight: 700; border-bottom: 1px dotted #ccc }
.box123 { padding-bottom: 20px; margin-bottom: 20px; border-bottom: 1px solid #eee }
.box123 img { float: left; border: 1px solid white; padding: 4px; margin-right: 10px }
.box123 p { font-size: 10px }
                                                             /* offer Zone */
.rp_pp { margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px dotted gray }
.rp_pp a { color: #666 }
.rp_pp p { font-size: 10px; font-style: italic }
                                                             /* Brands Avilable Zone */
.abc123 { margin: 0; padding:0; list-style: none }
.abc123 li { float: left; margin: 0 8px 8px 0; padding: 0 }
.abc123 li img { padding: 4px; border: 1px solid #ccc }

.col { float: left; margin: 0 20px 20px 0 }
.half { width: 500px }
.one_third { width: 300px }
.two-third { width: 620px }
.abc {width:220px}
.no_margin_right {margin-right:0}
#bottom123 { color: #999 }
#bottom123 a { color: #ccc }
#bottom123 h4 { color: #fff; font-size: 14px; font-weight: 700; margin-bottom: 20px }

.footer_list { margin: 0; padding: 0; list-style: none }
.footer_list li { margin: 0 0 5px; padding: 0 0 5px; border-bottom: 1px solid lightgrey }
.footer_list li a { color: lightgrey }
                                                            /* Twitter buttons */
.twitter_post { margin: 0; padding: 0; list-style: none }
.twitter_post li { margin: 0 0 10px; padding: 0 0 7px; border-bottom: 1px dotted lightgrey }
                                                            /* social buttons */
.footer_social_button { clear: both; margin-bottom: 40px }
.footer_social_button a { margin-right: 5px }
.newscol{
	margin: 0 5%;}
#wholepage{
	width:1450px;
	margin-right:auto;
	margin-left:auto;}
#carouselExampleControls{
	width: 620px;
	margin-left: auto;
    margin-right: auto;}